<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control bg-transparent " placeholder="Carne" />
                <div class="input-group-append">
                    <button class="btn btn-outline-dark " type="button">Agregar ingrediente</button>
                </div>
            </div>
            <div class="accordion mb-3" id="accordionIngredients">
                <div class="accordion-item bg-transparent ">
                    <h2 class="accordion-header" id="headingIngredients">
                        <button class="accordion-button collapsed bg-transparent " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapIngredients" aria-expanded="false" aria-controls="collapIngredients">
                            Ingredientes añadidos
                        </button>
                    </h2>
                    <div id="collapIngredients" class="accordion-collapse collapse" aria-labelledby="headingIngredients"
                        data-bs-parent="#accordionIngredients">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent ">Elemento 1</li>
                                <li class="list-group-item bg-transparent ">Elemento 2</li>
                                <li class="list-group-item bg-transparent ">Elemento 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <app-filter-options></app-filter-options>
            <div class="text-center mt-3">
                <button class="btn btn-outline-dark font-courier">RECETAME</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <hr>
            <h4 class="text-center py-4 fw-bold text-uppercase font-courier">Resultados</h4>
            <app-recipe-results></app-recipe-results>
        </div>
    </div>
</div>
<app-navbar></app-navbar>