<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center flex-column">
    <div class="row">
        <h1 class="title-app">RECETAME</h1>
    </div>
    <div class="row">
        <div class="col">
            <hr>
            <div class="row justify-content-center mb-3">
                <div class="col">
                    <div class="card bg-transparent">
                        <div class="card-body">
                            <h3 class="text-center mb-3">Nueva publicación</h3>
                            <form>
                                <div class="form-group">
                                    <label for="title">Titulo de la publicación</label>
                                    <input type="text" class="form-control bg-transparent" id="title"
                                        placeholder="Ingrese su nombre completo">
                                </div>
                                <div class="form-group my-3">
                                    <label for="description">Descripción</label>
                                    <input type="text" class="form-control bg-transparent" id="description"
                                        placeholder="Ingrese su correo electrónico">
                                </div>
                                <div class="form-group my-3">
                                    <label for="image">Imagen</label>
                                    <input type="file" class="form-control bg-transparent" id="image"
                                        placeholder="Ingrese su nombre de usuario">
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-block mt-4">Crear</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>