<div class="container my-5">
    <div class="row">
        <!--   <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="Imagen de la receta">
        </div> -->
        <div class="col-md-6">
            <h2>Título de la receta</h2>
            <p class="text-muted">Categoría de la receta</p>
            <hr>
            <h5>Ingredientes:</h5>
            <ul>
                <li>Ingrediente 1</li>
                <li>Ingrediente 2</li>
                <li>Ingrediente 3</li>
                <li>Ingrediente 4</li>
            </ul>
            <h5 class="mt-4">Instrucciones:</h5>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eligendi earum perspiciatis. Alias
                    modi dicta inventore eius quam sapiente illum porro, nam quod laboriosam minus, dolorem maiores
                    laborum odit veniam!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eligendi earum perspiciatis. Alias
                    modi dicta inventore eius quam sapiente illum porro, nam quod laboriosam minus, dolorem maiores
                    laborum odit veniam!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eligendi earum perspiciatis. Alias
                    modi dicta inventore eius quam sapiente illum porro, nam quod laboriosam minus, dolorem maiores
                    laborum odit veniam!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eligendi earum perspiciatis. Alias
                    modi dicta inventore eius quam sapiente illum porro, nam quod laboriosam minus, dolorem maiores
                    laborum odit veniam!</li>
            </ol>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary"><i class="bi bi-heart"></i> Guardar en favoritos</button>
        <button class="btn btn-secondary"><i class="bi bi-plus"></i> Crear publicación</button>
    </div>
</div>