<ul class="nav nav-tabs fixed-bottom justify-content-around bg-navbar">
    <li class="nav-item">
        <a class="nav-link color-gray" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/red"><i class="bi bi-globe2"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-gray" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/red/upload"><i class="bi bi-upload"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link color-gray" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/profile"><i class="bi bi-person"></i></a>
    </li>
</ul>