.color-gray {
    color: #5f5f5f;
    font-weight: bold !important;
}

.active {
    color: #000000 !important;
    background-color: #d3d3a0 !important;
}

.bg-navbar{
    background-color: #B7B78A !important;
}