.color-gray {
    color: #5f5f5f;
    font-weight: bold !important;
}

.active {
    color: #000000 !important;
    background-color: #bfbfbf !important;
}

.bg-navbar{
    background-color: #bfbfbf !important;
}