<div class="container-fluid h-100 d-flex justify-content-center align-items-center flex-column">
  <div class="col mt-5">
    <div class="row">
      <h1 class="title-app">RECETAME</h1>
    </div>
  </div>
  <div class="col mb-5">
    <hr>
    <div class="card mb-5">
      <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la publicación</h5>
        <p class="card-text">Descripción de la publicación</p>
        <button class="btn btn-primary btn-sm"><i class="bi bi-heart"></i> Me gusta</button>
        <button class="btn btn-secondary btn-sm"><i class="bi bi-chat-dots"></i> Comentar</button>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>