body {
    background-color: #EEEEEE;
}

.title-app {
    color: #658864;
    font-size: 70px !important;
}

* {
    border-color: #B7B78A !important;
    font-family: 'Amatic SC', cursive !important;
    font-weight: bold !important;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 2rem;
}

.btn-block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .card {
        margin-top: 2rem;
    }
}