<div class="accordion" id="accordionFilter">
    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="headingFilter">
            <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapFilter" aria-expanded="false" aria-controls="collapFilter">
                Filtros
            </button>
        </h2>
        <div id="collapFilter" class="accordion-collapse collapse" aria-labelledby="headingFilter"
            data-bs-parent="#accordionFilter">
            <div class="accordion-body">
                <div class="form-group" *ngFor="let filter of getFilters()">
                    <label for="tipo">{{filter.title}}</label>
                    <select class="form-control bg-transparent" id="tipo">
                        <option *ngFor="let option of filter.options">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>