<div class="accordion" id="accordionFilter">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapFilter" aria-expanded="false" aria-controls="collapFilter">
                Filtros
            </button>
        </h2>
        <div id="collapFilter" class="accordion-collapse collapse" aria-labelledby="headingFilter"
            data-bs-parent="#accordionFilter">
            <div class="accordion-body">
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" id="tipo">
                        <option>Todos</option>
                        <option>Postres</option>
                        <option>Platos principales</option>
                    </select>
                </div>
                <div class="form-group my-4">
                    <label for="dificultad">Dificultad</label>
                    <select class="form-control" id="dificultad">
                        <option>Todos</option>
                        <option>Fácil</option>
                        <option>Intermedio</option>
                        <option>Difícil</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="calificacion">Calificación</label>
                    <select class="form-control" id="calificacion">
                        <option>Todos</option>
                        <option>1 estrella</option>
                        <option>2 estrellas</option>
                        <option>3 estrellas</option>
                        <option>4 estrellas</option>
                        <option>5 estrellas</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>